@model DocStore.Models.User

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Документы", "Index", "Document")</li>
                <li>@Html.ActionLink("Управление пользователями", "EditUser", "User")</li>
            </ul>
        </div>
    </div>
</div>

